@model IEnumerable<DrWardrobe.Models.Season>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New Season", "Create")
</p>

<ul id="hexGrid">
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">                
                <img src="~/Images/1-bluemarble_west.jpg" />
                <h1>EARTH</h1>
                <p></p>
            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">
               
                <img src="~/Images/MedusaCascade.jpg" />
                <h1>SPACE</h1>
                <p></p>
            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">
               
                <img src="~/Images/hot planet.jpg" />
                <h1>HOT PLANET</h1>
                <p></p>
            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">
               
                <img src="~/Images/planetOOD.jpg" />
                <h1>COLD PLANET</h1>
                <p></p>
            </a>
        </div>
    </li>
   

</ul>
