@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the TARDIS wardrobe!</h1>
   <div class="row">
       <div class="col-md-6">
           <img src="~/Images/wardrobe.jpg" alt="Interior of space-time ship" />
       </div>

       <div class="col-md-6">
           <p>Have you found yourself suddenly travelling through time and space with a madman in a blue box?</p>
           <p>Did you wake up with no memory of recent events, but a sense of having new teeth and kidneys?</p>
           <p>If so, it is time to head on down to the TARDIS wardrobe and find a new look!</p>
       </div>
   </div>     
   
</div>
<div class="text-center">
    <div class="row">
        <div class="col-md-4">
            <h2>Where's the wardrobe?</h2>
            <p>Head out of console room.</p>
            <p>Take the first left, then the second right.</p>
            <p>Take the third left then head straight ahead.</p>
            <p>Go under the stairs.</p>
            <p>Pass the bins.</p>
            <p>The wardrobe is fifth door on the left.</p>
            <p>(Unless she's moved it.  You never know!)</p>
            <p><a class="btn btn-primary" href="~/Outfits/Index">NEW You, NEW Look!</a></p>
        </div>
        <div class="col-md-4">
            <h2>Signature Items</h2>
            <p>Every Doctor and Companion needs one! </p>
            <p>Find or create yours here</p>

            <p><a class="btn btn-primary" href="~/Tops/Index">Tops</a></p>
            <p><a class="btn btn-primary" href="~/Bottoms/Index">Bottoms</a></p>
            <p><a class="btn btn-primary" href="~/OuterWears/Index">Outerwear</a></p>
            <p><a class="btn btn-primary" href="~/NeckWears/Index">Neckwear</a></p>
            <p><a class="btn btn-primary" href="~/Accessories/Index">Accessories</a></p>
        </div>
        <div class="col-md-4">
            <h2>TARDIS Controls</h2>
            <p>Change the colors, occasions, and seasons</p>
            <p><a class="btn btn-primary" href="~/Colors/Index">Colors</a></p>
            <p><a class="btn btn-primary" href="~/Occasions/Index">Occasions</a></p>
            <p><a class="btn btn-primary" href="~/Seasons/Index">Seasons</a></p>
        </div>
    </div>
</div>