@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to the Doctor's TARDIS!</h2>
   <div class="row">
       <div class="col-md-8">
           <img src="~/Images/tardis console.jpg"  alt="Interior of space-time ship"/>
       </div>

       <div class="col-md-4">
           <p>Have you found yourself suddenly travelling through time and space with a madman in a blue box?</p>
          <p></p>
            <p>Did you wake up with no memory of recent events, but a sense of having new teeth and kidneys?</p>
           <p></p>
            <p>If so, it is time to head on down to the TARDIS wardrobe and find a new look!</p>
           <p></p>
           
           <h6>Note: Doctor Who is a long-running television show on the BBC.  
           The Doctor is an alien who travels through time and space in a ship, called the TARDIS.           
            All photos on this website are the property of the BBC.             
          No infringement of copyright is intended.</h6>
       </div>
   </div>     
   
</div>
<div class="text-center">
    <div class="row">
        <div class="indexPageLight">
            <div class="col-md-4">
                <h2>Wardrobe Directions</h2>
                <p>Head out of console room.</p>
                <p>Take the first left, then the second right.</p>
                <p>Take the third left then head straight ahead.</p>
                <p>Go under the stairs.</p>
                <p>Pass the bins.</p>
                <p>The wardrobe is fifth door on the left.</p>
                <p>(Unless she's moved it.  You never know!)</p>
                <p><a class="btn btn-primary" href="~/Outfits/Index">NEW You, NEW Look!</a></p>
            </div>

            <div class="col-md-4">
                <h2>Signature Items</h2>
                <p>Every Doctor and Companion needs one! </p>
                <p><a class="btn btn-primary" href="~/Tops/Index">Tops</a></p>
                <p><a class="btn btn-primary" href="~/Bottoms/Index">Bottoms</a></p>
                <p><a class="btn btn-primary" href="~/OuterWears/Index">Outerwear</a></p>
                <p><a class="btn btn-primary" href="~/NeckWears/Index">Neckwear</a></p>
                <p><a class="btn btn-primary" href="~/Accessories/Index">Accessories</a></p>
            </div>

            <p></p><div class="col-md-4">
                <h2>TARDIS Controls</h2>
                <p>Add or edit colors, occasions & seasons</p>
                <p><a class="btn btn-primary" href="~/Colors/Index">Colors</a></p>
                <p><a class="btn btn-primary" href="~/Occasions/Index">Occasions</a></p>
                <p><a class="btn btn-primary" href="~/Seasons/Index">Seasons</a></p>
            </div>
        </div>
    </div>
    </div>
