@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TARDIS WARDROBE</h1>
    <p class="lead">Welcome to the TARDIS wardrobe!</p>
        <img src="~/Images/wardrobe.jpg" alt="Interior of space-time ship"/>
    <p>Have you found yourself suddenly travelling through time and space with a madman in a blue box?</p>
    <p>Did you wake up with no memory of recent events, but a sense of having new teeth and kidneys?</p>
    <p>If so, it is time to head on down to the TARDIS wardrobe and find a new look!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Head to the Wardrobe</h2>
       
                <p><a class="btn btn-default" href="~/Outfits/Index">Create a New Look!</a></p>
    </div>
    <div class="col-md-4">
            <h2>Check out or add items</h2>

            <p><a class="btn btn-primary" href="~/Tops/Index">Tops</a></p>
            <p><a class="btn btn-primary" href="~/Bottoms/Index">Bottoms</a></p>
                <p><a class="btn btn-primary" href="~/OuterWears/Index">Outerwear</a></p>
                    <p><a class="btn btn-primary" href="~/NeckWears/Index">Neckwear</a></p>
                        <p><a class="btn btn-primary" href="~/Accessories/Index">Accessories</a></p>
        </div>
        <div class="col-md-4">
            <h2>Add colors, occasions, and seasons</h2>
            
            <p><a class="btn btn-default" href="~/Colors/Index">Colors</a></p>
            <p><a class="btn btn-default" href="~/Occasions/Index">Occasions</a></p>
            <p><a class="btn btn-default" href="~/Seasons/Index">Seasons</a></p>
        </div>
</div>